[Desktop Entry]
Type=Application
Name=Crossfire X11 Client
Name[en]=Crossfire X11 Client
GenericName=Crossfire Client
GenericName[en]=Crossfire Client
Comment=Client for Crossfire, a multiplayer graphical RPG and adventure game
Comment[en]=Client for Crossfire, a multiplayer graphical RPG and adventure game
Icon=crossfire-client
Exec=crossfire-client-x11
Terminal=false
Categories=Game;AdventureGame;RolePlaying;GTK;
