[Desktop Entry]
Encoding=UTF-8
Name=Crossfire Client
Comment=A cooperative multiplayer graphical RPG and adventure game
Exec=crossfire-client-gtk2
Icon=crossfire-client
Terminal=false
Type=Application
Categories=Game;GTK;AdventureGame;RolePlaying
