[Desktop Entry]
Type=Application
Name=Crossfire GTK Client V1
Name[en]=Crossfire GTK Client V1
GenericName=Crossfire Client
GenericName[en]=Crossfire Client
Comment=Client for Crossfire, a multiplayer graphical RPG and adventure game
Comment[en]=Client for Crossfire, a multiplayer graphical RPG and adventure game
Icon=crossfire-client
Exec=crossfire-client-gtk -fog -cache -popups
Terminal=false
Categories=Game;AdventureGame;RolePlaying;GTK;
