#
# This is a reasonably heavily modified version of the sounds file from
# the server.
#
# Since the client has to load the sounds on its own, full path names
# are needed.
#
# There are two sections - one for normal sounds, and one for spell
# sounds.  They are differentiated by the header 'Standard Sounds:' and
# 'Spell Sounds:'
#
# Empty lines and lines starting with # are ignored.
#
# Format of the file:  pathname to sound, default volume (what volume gets
# played if it is centered on the player), symbolic name (not currently
# used for anything, but may be in the future for the server to communicated
# to the client), and sound number..  Symbolic name and sound number may
# be ommitted.  If sound number is missing, the sound will be assigned one
# higher than the last sound read in.
#
# the symbolic name can be DEFAULT, in which case all sounds for that section
# which are otherwise not set will be set to that value.  This can be
# especially useful for that magic section, since new spells get added
# fairly often.
#
# The volume of 100 means max volume.  Anything higher may break the sound
# handling.
#
# The server currently communicates what sound to play via the sound
# number - you should not change those.  However, you can change most
# of the other sounds without problem.
#
# If a copy of this file is in ~/.crossfire/, it will be loaded
#
Standard Sounds:

/usr/local/lib/sounds/su-fanf.raw	 30	SOUND_NEW_PLAYER	0
/usr/local/lib/sounds/Teeswing.raw 	 80	SOUND_FIRE_ARROW	1
/usr/local/lib/sounds/chord.raw	100	SOUND_LEARN_SPELL	2
/usr/local/lib/sounds/Missed.raw	 70	SOUND_FUMBLE_SPELL	3
/usr/local/lib/sounds/Missed.raw	 70	SOUND_WAND_POOF		4
/usr/local/lib/sounds/Creaky-1.raw	 90	SOUND_OPEN_DOOR		5
/usr/local/lib/sounds/blip.raw 	 80	SOUND_PUSH_PLAYER	6
/usr/local/lib/sounds/click1.raw	 60	SOUND_PLAYER_HITS1	7
/usr/local/lib/sounds/click2.raw	 70	SOUND_PLAYER_HITS2	8
/usr/local/lib/sounds/click1.raw	 80	SOUND_PLAYER_HITS3	9
/usr/local/lib/sounds/click2.raw	 90	SOUND_PLAYER_HITS4	10
/usr/local/lib/sounds/FloorTom.raw	 70	SOUND_PLAYER_IS_HIT1	11
/usr/local/lib/sounds/ouch1.raw	 80	SOUND_PLAYER_IS_HIT2	12
/usr/local/lib/sounds/thru.raw 	 90	SOUND_PLAYER_IS_HIT3	13
/usr/local/lib/sounds/drip.raw 	 80	SOUND_PLAYER_KILLS	14
/usr/local/lib/sounds/squish.raw	 80	SOUND_PET_IS_KILLED	15
/usr/local/lib/sounds/gong.raw 	150	SOUND_PLAYER_DIES	16
/usr/local/lib/sounds/Whoosh.raw	100	SOUND_OB_EVAPORATE	17
/usr/local/lib/sounds/Explosion.raw	100	SOUND_OB_EXPLODE	18
/usr/local/lib/sounds/TowerClock.raw	130	SOUND_CLOCK		19
/usr/local/lib/sounds/boink2.raw 	 80	SOUND_TURN_HANDLE	20
/usr/local/lib/sounds/MetalCrash.raw 	200	SOUND_FALL_HOLE		21
/usr/local/lib/sounds/Puke.raw 	130	SOUND_DRINK_POISON     	22

# Spells :		SOUND_CAST_SPELL_0      23, 24, 25 ...
Spell Sounds:

/usr/local/lib/sounds/magic.raw	100	DEFAULT
/usr/local/lib/sounds/swish.raw	 70	"magic bullet" 			/* 0 */
/usr/local/lib/sounds/swish.raw	 60	"small fireball"
/usr/local/lib/sounds/swish.raw	 80	"medium fireball"
/usr/local/lib/sounds/swish.raw	100	"large fireball"
/usr/local/lib/sounds/magic.raw	100	"burning hands"
/usr/local/lib/sounds/lightning1.raw	 70	"small lightning"
/usr/local/lib/sounds/lightning1.raw	 90	"large lightning"
/usr/local/lib/sounds/swish.raw	100	"magic missile"
/usr/local/lib/sounds/magic.raw	100	"create bomb"
/usr/local/lib/sounds/magic.raw	100	"summon golem"
/usr/local/lib/sounds/magic.raw	100	"summon fire elemental"		/* 10 */
/usr/local/lib/sounds/magic.raw	100	"summon earth elemental"
/usr/local/lib/sounds/magic.raw	100	"summon water elemental"
/usr/local/lib/sounds/magic.raw	100	"summon air elemental"
/usr/local/lib/sounds/first_try.raw	100	"dimension door"
/usr/local/lib/sounds/magic.raw	100	"create earth wall"
/usr/local/lib/sounds/Tear.raw 	100	"paralyze"
/usr/local/lib/sounds/Missle1.raw	 80	"icestorm"
/usr/local/lib/sounds/magic.raw	100	"magic mapping"
/usr/local/lib/sounds/Tear.raw 	 90	"turn undead"
/usr/local/lib/sounds/Tear.raw 	 90	"fear"				/* 20 */
/usr/local/lib/sounds/Missle1.raw	100	"poison cloud"
/usr/local/lib/sounds/magic.raw	100	"wonder"
/usr/local/lib/sounds/Explosion.raw	 80	"destruction"
/usr/local/lib/sounds/magic.raw	100	"perceive self"
/usr/local/lib/sounds/sci_fi_gun.raw	100	"word of recall"
/usr/local/lib/sounds/magic.raw	100	"invisible"
/usr/local/lib/sounds/magic.raw	100	"invisible to undead"
/usr/local/lib/sounds/magic.raw	100	"probe"
/usr/local/lib/sounds/swish.raw	100	"large bullet"
/usr/local/lib/sounds/magic.raw	100	"improved invisibility"		/* 30 */
/usr/local/lib/sounds/Tear.raw 	100	"holy word"
/usr/local/lib/sounds/magic.raw	100	"minor healing"
/usr/local/lib/sounds/magic.raw	100	"medium healing"
/usr/local/lib/sounds/magic.raw	100	"major healing"
/usr/local/lib/sounds/magic.raw	100	"heal"
/usr/local/lib/sounds/magic.raw	100	"create food"
/usr/local/lib/sounds/Explosion.raw	 60	"earth to dust"
/usr/local/lib/sounds/magic.raw	100	"armour"
/usr/local/lib/sounds/magic.raw	100	"strength"
/usr/local/lib/sounds/magic.raw	100	"dexterity"			/* 40 */
/usr/local/lib/sounds/magic.raw	100	"constitution"
/usr/local/lib/sounds/magic.raw	100	"charisma"
/usr/local/lib/sounds/magic.raw	100	"create fire wall"
/usr/local/lib/sounds/magic.raw	100	"create frost wall"
/usr/local/lib/sounds/magic.raw	100	"protection from cold"
/usr/local/lib/sounds/magic.raw	100	"protection from electricity"
/usr/local/lib/sounds/magic.raw	100	"protection from fire"
/usr/local/lib/sounds/magic.raw	100	"protection from poison"
/usr/local/lib/sounds/magic.raw	100	"protection from slow"
/usr/local/lib/sounds/magic.raw	100	"protection from paralysis"	/* 50 */
/usr/local/lib/sounds/magic.raw	100	"protection from draining"
/usr/local/lib/sounds/magic.raw	100	"protection from magic"
/usr/local/lib/sounds/magic.raw	100	"protection from attack"
/usr/local/lib/sounds/magic.raw	100	"levitate"
/usr/local/lib/sounds/Gun-5.raw	100	"small speedball"
/usr/local/lib/sounds/Gun-5.raw	130	"large speedball"
/usr/local/lib/sounds/Missle1.raw	150	"hellfire"
/usr/local/lib/sounds/Missle1.raw	170	"dragonbreath"
/usr/local/lib/sounds/Missle1.raw	170	"large icestorm"
/usr/local/lib/sounds/magic.raw	100	"charging"			/* 60 */
/usr/local/lib/sounds/magic.raw	100	"polymorph"
/usr/local/lib/sounds/swish.raw	200	"cancellation"
/usr/local/lib/sounds/Tear.raw 	100	"confusion"
/usr/local/lib/sounds/Tear.raw 	150	"mass confusion"
/usr/local/lib/sounds/magic.raw	100	"summon pet monster"
/usr/local/lib/sounds/magic.raw 	100	"slow"
/usr/local/lib/sounds/magic.raw	100	"regenerate spellpoints"
/usr/local/lib/sounds/magic.raw	100	"cure poison"
/usr/local/lib/sounds/magic.raw	100	"protection from confusion"
/usr/local/lib/sounds/magic.raw	100	"protection from cancellation"	/* 70 */
/usr/local/lib/sounds/magic.raw	100	"protection from depletion"
/usr/local/lib/sounds/magic.raw	100	"alchemy"
/usr/local/lib/sounds/Evil_Laugh.raw	100	"remove curse"
/usr/local/lib/sounds/Evil_Laugh.raw	120	"remove damnation"
/usr/local/lib/sounds/magic.raw	100	"identify"
/usr/local/lib/sounds/magic.raw	100	"detect magic"
/usr/local/lib/sounds/magic.raw	100	"detect monster"
/usr/local/lib/sounds/magic.raw	100	"detect evil"
/usr/local/lib/sounds/magic.raw	100	"detect curse"
/usr/local/lib/sounds/Explosion.raw	100	"heroism"			/* 80 */
/usr/local/lib/sounds/bugle_charge.raw	100	"aggravation"
/usr/local/lib/sounds/magic.raw	100	"firebolt"
/usr/local/lib/sounds/magic.raw	100	"frostbolt"
/usr/local/lib/sounds/Explosion.raw	100	"shockwave"
/usr/local/lib/sounds/magic.raw	100	"color spray"
/usr/local/lib/sounds/magic.raw	100	"haste"
/usr/local/lib/sounds/magic.raw	100	"face of death"
/usr/local/lib/sounds/lightning1.raw	110	"ball lightning"
/usr/local/lib/sounds/swish.raw	100	"meteor swarm"
/usr/local/lib/sounds/swish.raw	100	"comet"				/* 90 */
/usr/local/lib/sounds/magic.raw	100	"mystic fist"
/usr/local/lib/sounds/magic.raw	100	"raise dead"
/usr/local/lib/sounds/magic.raw	100	"resurrection"
/usr/local/lib/sounds/magic.raw	100	"reincarnation"
/usr/local/lib/sounds/magic.raw	100	"immune cold"
/usr/local/lib/sounds/magic.raw	100	"immune electricity"
/usr/local/lib/sounds/magic.raw	100	"immune fire"
/usr/local/lib/sounds/magic.raw	100	"immune poison"
/usr/local/lib/sounds/magic.raw	100	"immune slow"
/usr/local/lib/sounds/magic.raw	100	"immune paralysis"		/* 100 */
/usr/local/lib/sounds/magic.raw	100	"immune drain"
/usr/local/lib/sounds/magic.raw	100	"immune magic"
/usr/local/lib/sounds/magic.raw	100	"immune attack"
/usr/local/lib/sounds/magic.raw	100	"invulnerability"
/usr/local/lib/sounds/magic.raw	100	"defense
/usr/local/lib/sounds/magic.raw	100	"rune fire"
/usr/local/lib/sounds/magic.raw	100	"rune frost"
/usr/local/lib/sounds/magic.raw	100	"rune shocking"
/usr/local/lib/sounds/magic.raw	100	"rune blasting"
/usr/local/lib/sounds/magic.raw	100	"rune death"			/* 110 */
/usr/local/lib/sounds/magic.raw	100	"marking rune"
/usr/local/lib/sounds/magic.raw	100	"build director"
/usr/local/lib/sounds/magic.raw	100	"pool of chaos"
/usr/local/lib/sounds/magic.raw	100	"build bullet wall"
/usr/local/lib/sounds/magic.raw	100	"build ligtning wall"
/usr/local/lib/sounds/magic.raw	100	"build fireball wall"
/usr/local/lib/sounds/magic.raw	100	"magic "
/usr/local/lib/sounds/magic.raw	100	"rune of magic drain"
/usr/local/lib/sounds/magic.raw	100	"antimagic rune"
/usr/local/lib/sounds/magic.raw	100	"rune transferrence"		/* 120 */
/usr/local/lib/sounds/magic.raw	100	"transferrence"
/usr/local/lib/sounds/magic.raw	100	"magic drain"
/usr/local/lib/sounds/magic.raw	100	"counterspell"
/usr/local/lib/sounds/magic.raw	100	"disarm"
/usr/local/lib/sounds/magic.raw	100	"cure confusion"
/usr/local/lib/sounds/magic.raw	100	"restoration"
/usr/local/lib/sounds/magic.raw	100	"summon evil monster"
/usr/local/lib/sounds/magic.raw	100	"counterwall"
/usr/local/lib/sounds/magic.raw	100	"cause light wounds"
/usr/local/lib/sounds/magic.raw	100	"cause medium wounds"		/* 130 */
/usr/local/lib/sounds/magic.raw	100	"cause serious wounds"
/usr/local/lib/sounds/magic.raw	100	"charm monsters"
/usr/local/lib/sounds/magic.raw	100	"banishment"
/usr/local/lib/sounds/magic.raw	100	"create missile"
